# کلید دسترسی به API هوش مصنوعی Groq
API_KEY=your_groq_api_key_here

# کلید امنیتی جنگو برای محیط توسعه
SECRET_KEY=django-insecure-secret-key-for-local-development-resumino-12345

# وضعیت دیباگ جنگو
DEBUG=True

# هاست‌های مجاز
ALLOWED_HOSTS=127.0.0.1,localhost,0.0.0.0
